<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <script src="../static/js/perlin.js"></script>
    <script src="../static/js/game.js"></script>
    <script src="../static/js/weather.js"></script>
    <script src="../static/js/render.js"></script>
    <script src="../static/js/chunk.js"></script>
    <script src="../static/js/terraingeneration.js"></script>
    <script src="../static/js/tile.js"></script>
    <script src="../static/js/time.js"></script>
    <script src="../static/js/debug.js"></script>
    <script src="../static/js/app.js"></script>
</head>
<body>
    <div id="game_grid" class="grid"></div>
    <div id="debug">
        <button id="temperature", onclick=temperatureButtonClick()>Temperature</button>
        <button id="humidity", onclick=humidityButtonClick()>Humidity</button>
        <button id="height", onclick=heightButtonClick()>Height</button>
        <button id="noClip", onclick=noClipButtonClick()>No-clip</button>
        <button id="mapButton", onclick=mapButtonClick()>Map</button>
        <input id="inputX", onchange=inputXchange() placeholder="x">
        <input id="inputY", onchange=inputYchange() placeholder="y">
    </div>
    <canvas id="map"></canvas>
</body>
</html>